# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/
bower_components/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# VS Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Build output directories
dist/
build/
out/

# Coverage reports
coverage/

# Testing-related files
test-results/
*.spec.js
*.test.js

# Temporary files
*.tmp
*.temp
*.bak

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE or Editor-specific files
.idea/
*.sublime-project
*.sublime-workspace

# Other OS-specific files
Thumbs.db
ehthumbs.db
Icon?
